@import "./resets.css";

body {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 2em;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

header h1 {
    font-family: 'Yellowtail', cursive;
}




